@import url('https://fonts.googleapis.com/css?family-Poppins:200,300,400,500,600,700,800,900&display-swap');
:root {
    --color-bg: #181d23;
    --color-green: #d8fb9b;
    --color-green-soft: #d6e8b7;
    --color-red: #cd5b5b;
    --color-text: rgb(245, 245, 245);
    --margin-small: 20px;
    --margin-big: 50px;
    --fontsize-base: 22px;
    --fontsize-medium: 1.2rem;
    --fontsize-big: 1.45rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    background-color: var(--color-bg);
    color: white;
    font-size: var(--fontsize-base);
    font-family: 'Open Sans', sans-serif;
    padding: 0 30px;
}

header,
main,
footer {
    width: 100%;
}

a,
a.hover {
    text-decoration: none;
}

header>h1 {
    color: var(--color-green);
    font-size: var(--fontsize-medium);
    text-align: center;
    margin-bottom: var(--margin-small);
}

.btn {
    background: red;
    color: inherit;
    padding: 4px 12px;
    border: 1px solid var(--color-white);
    transition: all .4s ease-in;
}

.btn:hover {
    color: var(--color-green);
    background-color: aqua;
    border: 1px solid var(--color-green);
}

section#info-w {
    display: flex;
    background-color: yellow;
    flex-direction: row;
    justify-content: space-around;
    border: 1px solid rgba(21, 6, 231, 0.2);
    padding: 6px 0;
    margin-bottom: var(--margin-big);
}

section#tavoli-w {
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    margin-top: 40px;
    justify-content: space-around;
}

section#tavoli-w>div.tavolo {
    flex-grow: 1;
    text-align: center;
    margin: 10px;
    height: 60px;
    line-height: 60px;
}

section#tavoli-w>div.tavolo.x6 {
    flex-grow: 1.5;
}

section#tavoli-w>div.tavolo.libero {
    background-color: green;
}

section#tavoli-w>div.tavolo.libero:hover {
    background-color: rgb(38, 0, 128);
}

section#tavoli-w>div.tavolo.occupato {
    background-color: red;
}

form>div.form-items {
    margin: var(--margin-small) 0;
}